<!DOCTYPE html>
<html>
<head>
  <title>Nameofapp</title>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4./css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Lobster::latin', 'Shadows+Into+Light::latin', 'Pacifico::latin', 'Bangers::latin', 'Amatic+SC::latin', 'Covered+By+Your+Grace::latin', 'Lobster+Two::latin', 'Playball::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
  </script>

  <%= csrf_meta_tags %>
</head>
<body>
<h1>NoWear Store</h1>

<div class=image><%= image_tag("shirt.jpg")%></div>


<h2>
  <p>Your one and only source for fancy shirts, comfy hoodies & extravagant slippers.</p>
  <p> We guarantee that all our products are made with passion.</p>
</h2>

<h3>
  <p>Including the famous "Rich Kids Of Instagram"</p>
  <p> ~ Champagne Hoodie ~ </p> 
</h3>
 
<%= yield %>

</body>
</html>
